# Created by .ignore support plugin (hsz.mobi)
# dependencies
/capillary-web/node_modules
/bower_components

# e2e
/capillary-web/e2e/

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/
*.iml