# Created by .ignore support plugin (hsz.mobi)
# dependencies
/capillary-web/node_modules
/node_modules
/capillary-backend/node_modules

# e2e
/capillary-web/e2e/

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/
*.iml