.capillary-icon{
  width: 175px;
  margin-left: 26px;
  margin-top: 8px;
  //margin-top: -67px;
  //display: inline-flex;
}
p.heading{
  margin-left: 23px;
  font-weight: 500;
  color: aquamarine;
}
.navbar{
  background-color: #002663;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  height: 100px;

}

.margin-top-35{
  margin-top: 35px;
}
.input-box{
  color: white;
}
.logo-design{
 padding: 0px;
 float:left;
 magin-left: -900px;
 margin-top: -250px;
}
.navbar-brand {
 padding: 0px;
}
.navbar-brand>img {
 height: 70px;
   display: inline-block;
     width: auto;
     margin-left:10px;
}
