
<nav class="navbar navbar-fixed-top z-depth-2" role="navigation">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <img class="capillary-icon" src="assets/images/capillary-logo.png">
                <p class="heading">Game Arena</p>
            </div>
            <div class="col-md-10">
                <div class="form-group">
                    <input type="text"
                           class="form-control form-control-reg input-box margin-top-35"
                           placeholder="Search Games (By Name)"
                           [(ngModel)]="searchString"
                           (keyup)="emit($event)">
                </div>
            </div>
        </div>
    </div>





</nav>
